body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.container > div {
  margin-bottom: 10px;
}

.qr-code img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.info strong {
  flex: 1;
  text-align: left;
}

.info span {
  flex: 2;
  text-align: right;
  font-weight: bold;
}